.navbar-right { margin-right: 0px !important}
.log {
  margin: 5px 20px 0 0;
}
.videos {
  border: 1px solid red;
  height:400px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}